@charset "utf-8";

:root{
    --main-color: #2957E2;
    --snb-color: #eee;
    --snb-font: 5rem;
}

html{
    /* 폰트 사이즈를 기본 10px로 설정 */
    /* font-size: 62.5%; */  
    font-size: 0.98vw;
    behavior: smooth;
}
body{
    background-color: #eee;
}
/* logo */
#logo{
    z-index: 100;
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--main-color);
}
#logo > li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
    color: var(--sub-color);
    transition: top 0.5s;
    font-weight: bolder;
    animation: logoFade 5s linear infinite;
} 
#logo > li:nth-child(1){
    top: 0;
}
#logo > li:nth-child(2){
    top: 100%;
}
#logo:hover > li:nth-child(1){
    top: -100%;
}
#logo:hover > :nth-child(2){
    top: 0;
}
@keyframes logoFade {
    0%,100%{opacity: 1;}
    50%{opacity: 0.5;}
}
header{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
nav{
    position: absolute;
    top: 27%;
    width: 100%;
    display: flex;
    justify-content: center;
}
ul.gnb{
    font-size: 3rem;
    font-weight: bolder;
}
ul.gnb > li{
    position: relative;
}
ul.gnb > li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
}
ul.gnb > li > a{
    transition: 0.5s;
    transform-origin: left center;
}
ul.gnb > li:hover:before{
    width: 100%;
}
ul.gnb > li:hover > a{
    transform: scale(1.3);
    color: var(--sub-color);
}
ul.title{
    width: 30%;
    font-size: 1.3rem;
}
ul.title > li{
    margin: 2rem;
}
.arrow-wrap{
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 60%;
}
.arrow-wrap > .arrow-box{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--main-color);
    transform: rotate(30deg);
    animation: rotateBox 10s linear infinite;
}
@keyframes rotateBox{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.arrow-wrap > .arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--sub-color);
    font-size: 1.5rem;
}

header > h1{
    font-size: 15rem;
    color: var(--main-color);
    text-align: center;
    position: absolute;
    bottom: -2rem;
}

header > h1:before{
    content: 'PORTFOLIO';
    font-size: 19rem;
    color: transparent;
    -webkit-text-stroke: 2px var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}
/* 공통사항 */
article{
    width: 100%;
    height: 100vh;
    border: 2px dashed red;
}
/* about me */
section#about{     
    width: 90%;
    margin: 0 auto;
}
.about-wrap{
    width: 300%;
    display: flex;
}
#about .info{
    padding: 5rem;
    margin: 10;
}
#about .info h2{
    font-size: var(--snb-color);
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 10%;
    color: var(--snb-color);
    -webkit-text-stroke: 1px var(--main-color);
}
#about .info h2:before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    /* height: 100%; */
    aspect-ratio: 1/0.7;
    background-color: var(--main-color);
    border-radius: 20px;
}
#about .info p{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 0;
}
#about .word{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#about .word-wrap{
    display: flex;
    flex-direction: column;
}
#about .word-wrap > h2{
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
}
#about .word-wrap > h2.top{
    text-align: left;   
}
#about .keyword{
    border: 1px solid var(--main-color);
    padding: 3rem 6rem;
    border-radius: 3rem;
}
#about .keyword > li{
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
}
#about .keyword > li >p{
    color: var(--main-color);
    font-size: 2rem;
    border: 3px solid var(--main-color);
    border-radius: 3rem;
    padding: 1rem 3rem;
    transition: 0.5s;
}
/* #about .keyword > li > p.yes:hover{
    background-color: var(--main-color);
    color: var(--snb-color);
} */
